@model Product

<div class="single-product-item">
    <div class="single-product-item-image">
        <a href="product-details.html" class="prodcut-images">
            @foreach(Images photo in Model.ProductImages)
            {
            <img class="primary-image" src="@photo.Url" alt="">
            }
            <img class="secondary-image" src="/images/products/product-image-2-2.jpg" alt="">
        </a>
        <ul class="single-product-item-action">
            <li class="single-product-item-action-list">
                <a href="#" class="single-product-item-action-link"><i class="icon-rt-heart2"></i></a>
            </li>
            <li class="single-product-item-action-list">
                <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick-view-modal" class="single-product-item-action-link"><i class="icon-rt-eye2"></i></a>
            </li>
            <li class="single-product-item-action-list product-cart">
                <a href="#" class="single-product-item-action-link"><i class="icon-rt-basket-outline"></i></a>
            </li>
        </ul>
    </div>

    <div class="single-product-item-content">
        <div class="single-product-item-rating">
            <i class="icon-rt-star-solid select-star"></i>
            <i class="icon-rt-star-solid select-star"></i>
            <i class="icon-rt-star-solid select-star"></i>
            <i class="icon-rt-star-solid select-star"></i>
            <i class="icon-rt-star-solid"></i>
        </div>
        <h6 class="single-product-item-title"><a href="product-details.html">@Model.Name</a></h6>
        <div class="single-product-item-price">
            $@Model.StartPrice - $@Model.Price
        </div>
    </div>
</div>